.errors{
	color: red !important;
	border: 2px solid !important;
}
.message{
	color: red;
	font-weight: bold;
}


.js, .html{
	display: none;
}

/* Styling for Ex 2 */
#group-1, #group-2{
	color: red;
	display: none;
}
